Objects in Python/__pycache__/classcodes.cpython-38.pyc
When Objects are ALike/__pycache__/classcode.cpython-38.pyc
Objects in Python/__pycache__/classcodes.cpython-38.pyc
Objects in Python/__pycache__/classcodes.cpython-38.pyc
